.list-container {
    max-width: 1600px;
    margin: 3rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .list-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
  }

  .list-item {
    display: flex;
    flex-wrap: wrap; /* Wrap columns on small screens */
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    align-items: center;
    font-size: 16px; /* Decrease font size */
  }

  .list-item:nth-child(even) {
    background-color: #f9f9f9;
  }

  .list-item:last-child {
    border-bottom: none;
  }

  .list-item label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    min-width: 150px; /* Set minimum width for better spacing */
  }

  .list-item span {
    flex: 2;
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .list-item label {
      margin-bottom: 5px;
      min-width: auto; 
      font-size: 8px;/* Remove minimum width on small screens */
    }

    .list-item span {
      flex: 1;
      font-size: 8px; /* Full width on small screens */
    }
  }
  .text-primary1{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }